<!-- <link rel="stylesheet" href="/css/home.css"> -->

<form action="/create-session" method="POST" class="home-form">
    <input class="home-input" type="email" name="email" placeholder="Please Type Your Email..."  required>
    <input class="home-input" type="password" name="password" placeholder="Please Type Your Password..."  required>
    <input class="home-input-button" type="submit" value="Sign In">
</form>

<form action="/create-user" class="home-form">
    <input class="home-input-button" type="submit" value="Click here if you are a new user">
</form>