<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/task_list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&display=swap" rel="stylesheet">
    <%- style %>
    <title>To Do App</title>
</head>

<body>
    <div class="main-container">
        <header>
            <h1 class="header">TODO App</h1>
        </header>
    
        <%- body %>
    </div>

</body>

</html>