<form action="/create-user" method="POST" class="home-form">
    <input class="home-input" type="email" name="email" placeholder="Please Type Your Email..."  required>
    <input class="home-input" type="password" name="password" placeholder="Please Type Your Password..."  required>
    <input class="home-input" type="password" name="confirm-password" placeholder="Please Confirm Your Password..."  required>
    <input class="home-input-button" type="submit" value="Sign Up">
</form>