.home-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.home-form * {
    margin: 5px 0px;
}

.home-input {
    padding: 10px;
    font-size: 25px;
    width: 80%;
    border: 2px dotted white;
    background: none;
    color: wheat;
    outline: none;
    border-radius: 5px;
}
.home-input-button {
    font-size: 25px;
    padding: 10px;
    border: 2px dotted white;
    background-color: rgba(67, 67, 67, 0.501);
    color: wheat;
    width: 80%;
}
.home-input-button:hover {
    cursor: pointer;
    scale: 1.01;
}