* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: wheat;
}

::-webkit-scrollbar {
    /* display: none; */
    width: 2px;
    background-color: rgba(245, 222, 179, 0.274);
}

::-webkit-scrollbar-thumb {
    /* display: none; */
    background-color: wheat;
    border-radius: 10px;
}

.taskAdd-form label {
    font-weight: 600;
}

.for-description {
    width: 100%;
    /* background-color: rgb(187, 187, 187); */
    height: 10vh;
    padding: 5px 15px;
    border-bottom: 2px solid rgb(178, 178, 178);
}

.for-description input {
    font-size: 15px;
    padding: 5px 0px;
    width: 80%;
    outline: none;
    background: none;
}

.for-description:hover input {
    background-color: rgb(0, 0, 0);
    transition: .1s;
}

.for-description:hover {
    background-color: rgb(2, 2, 2);
    transition: .1s;
}

.for-categoryAndDate {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.for-categoryAndDate div {
    border-bottom: 2px solid rgb(178, 178, 178);
    width: 50%;
    height: 10vh;
    padding: 5px 15px;
}

.for-categoryAndDate * {
    outline: none;
    font-size: 15px;
    background: none;
}

.for-categoryAndDate:hover {
    background-color: rgb(2, 2, 2);
    transition: .1s;
}

.for-categoryAndDate:hover select {
    background-color: rgb(2, 2, 2);
    transition: .1s;
}

.for-category {
    border-right: 2px solid rgb(178, 178, 178);
}

.for-category select {
    width: 80%;
    background: none;

}

.for-duedate {
    border-left: 2px solid rgb(178, 178, 178);
}

.for-duedate input {
    width: 80%;
    color: rgb(10, 33, 76);
    filter: invert(1);
}
.for-duedate:hover input {
    background-color: white;
}

.for-buttons {
    border-bottom: 2px solid rgb(178, 178, 178);
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for-buttons * {
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
    width: 50%;
}

.for-buttons *:hover {
    scale: 1.04;
}

.taskAdd-form-btn {
    color: #635994;
    background-color: #cfc8fb;
    font-weight: 800;
}

.taskDelete-form-btn {
    color: #f92f60;
    background-color: #ffbbcd;
    font-weight: 800;
}


.tasks-container {
    width: 100%;
    /* height:  47vh; */
    flex: 1;
    /* border-bottom: 2px solid rgb(178, 178, 178); */
    padding: 0px 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.fetched-tasks {
    border-bottom: 2px solid rgb(205, 205, 205);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    margin: 2px 0px;
}

.per-task-checkbox {
    /* width: 5%; */
    padding: 5px;
    margin: 0;
    font: inherit;
    width: 3em;
    height: 1.3em;
    cursor: pointer;
}

.per-task-details {
    width: 75%;
    padding: 0 20px;
    text-align: left;
}

.per-task-details h3 {
    margin-bottom: 7px;
}

.per-task-details h5 {
    /* color: rgb(113, 113, 113); */
    color: rgb(206, 193, 168);
}

.per-task-category {
    width: 20%;
    text-align: center;
    padding: 0 20px;
}

.per-task-category p {
    padding: 15px 0;
    color: wheat;
    font-weight: 600;
}

.Personal {
    background-color: rgb(89, 1, 89);
}

.Work {
    background-color: rgb(3, 36, 145);
}

.School {
    background-color: rgb(125, 1, 28);
}

.Cleaning {
    background-color: rgb(0, 92, 3);
}

.Other {
    background-color: rgb(70, 36, 14);
}